################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoTrading/bin
/.vs/SSI.Trading.Client
/AutoTrading/obj
/packages
/SSI.FCTrading.Client/bin
/SSI.FCTrading.Client/obj
